/* fonts */

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings: width 100;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings: width 100;
}

/* colors */

.dark1{
    color: #252432;
}

/* header styles */

header {
    background-image: url(../Assets/Hero-bg.png);
    border: 50px;
    justify-content: center;
    min-height: 45vh;
    background-size: cover;
    background-color: #4E47FF;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
    /* margin-right: ; */
    margin-bottom: 40px;
}

.logo {
    color: #4E47FF;
    font-weight: 800;
    font-size: 29px;
}

.button {
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 10px;
    padding-top: 12px;
    text-align: center;

}
.banner{
    text-align : center;
    
}
.banner-text{
    font-size: 50px;
    font-weight: bold;
    margin: 3%;

}

/* action section  */

body{
    background-color: #ffffff81;
}
.action-section{
   
    margin: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.action-text{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin: 0.6%;
}
.action-sub-text{
    color: #252432;
    opacity: 50%;
    text-align: left;
    
}
.action-image{
    width: 320px ;
    border-radius: 50px;
}

/* pro user section    */   

.pro-user-section{
   
}
.pro-text{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0.6%;
}
.pro-user-button{
    background-color: #4d47ff42;
    color: black;
    font-weight: bold;
    border: none;
    margin: 50px;
    width: 700px;
    height: 250px;
    border-radius: 25px;   

}
.number-div{
    display: flex;
    align-items: center;
    margin: 0 100px;
    justify-content: space-between;

}

.number{
    color: #4E47FF;
    font-weight: 800;
    font-size: 40px;

}
.sub-number{
    color: #252432;
    opacity: 50%;
}