/* fonts */

.inter-normal {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings: width 100;
}

.raleway-normal {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    font-variation-settings: width 100;
}

/* colors */

.dark1{
    color: #252432;
}

/* header styles */

header {
    background-image: url(../Assets/Hero-bg.png);
    border: 50px;
    justify-content: center;
    min-height: 45vh;
    background-size: cover;
    background-color: #4E47FF;

}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px;
    /* margin-right: ; */
    margin-bottom: 40px;
}

.logo {
    color: #4E47FF;
    font-weight: 800;
    font-size: 29px;
}

.button {
    background-color: #4E47FF;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 12px;
    padding-left: 36px;
    padding-right: 36px;
    padding-bottom: 10px;
    padding-top: 12px;
    text-align: center;
    transition: all 0.2s ease;

}
.button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transform: translateY(-2px);
}

.banner{
    text-align : center;
    
}
.banner-text{
    font-size: 50px;
    font-weight: bold;
    margin: 3%;

}

/* action section  */

body{
    background-color: hwb(213 78% 0% / 0.506);
}
.action-section{
   
    margin: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.action-text{
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin: 0.6%;
}
.action-sub-text{
    color: #252432;
    opacity: 50%;
    text-align: left;
    
}
.action-image{
    width: 320px ;
    border-radius: 50px;
}

/* pro user section    */   

.pro-text{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 0.6%;
}
.pro-user-button{
    background-color: #4d47ff42;
    color: black;
    font-weight: bold;
    border: none;
    margin: 70px;
    width: 800px;
    height: 250px;
    border-radius: 25px;   
    /* text-align: center; */
    /* align-items: center; */
    /* align-self: center; */

}
.number-div{
    display: flex;
    align-items: center;
    margin: 0 100px;
    justify-content: space-between;

}

.number{
    color: #4E47FF;
    font-weight: 800;
    font-size: 40px;

}
.sub-number{
    color: #252432;
    opacity: 50%;
}



/* Feedback section  */


.feed-text{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 6%;
}
.feed-button{
    padding: 20px;
    justify-content: space-between ;
    
    border-radius: 10px;
    border: none ;
    /* border-width: 2.7px; */
    /* border-color: white; */
    margin: 10px;
    width: 260px ;
    
    /* align-items: center */
}
.feedback{
    width: 850px;
    height: 342px;
    margin: 50px;
    /* background-color: #4E47FF; */

    /* justify-content: ; */
}

.star{
    display: flex;
    width: 115px;
    height: 20px;
}

.love{
    font-size: 20px ;
    font-weight: bold;
    text-align: left;
}
.sub-love{
    text-align: left;
    font-weight: 0.8%;
}

.reviewer{
    display: flex;
    gap: 10px;
    align-items: center;
}
.name,.date{
    margin: 0;
}
.name{
text-align: left;
color: rgba(0, 0, 0, 0.658);
}
.date{
    text-align: left;
    color: #2524323f;
}

.khomar-pic{
    border-radius: 50px;
}


/* touch section
 */


 .touch{
    display: flex;
    background-color: aqua;
    width: 800px;
    height: 400px;
    margin: 50px;
    border-radius: 10px;

 }
 .touch-div{
    padding-right:100px ;
    padding-bottom: 150px;
    padding-top: 50px;
    font-size: 55px;
    text-align: left;
    /* margin: 0.6%; */
    font-weight: bolder;
    /* background-color: #4E47FF; */
 }

 .form{
    padding-top: 20px;
    padding-left: 50px;
    align-items: center;
    /* background-color: azure; */
    width: 300px;
 }

.form-text{
    margin-bottom: 5px;
}

section input[type="text"]{
    height: 40px;
    border-radius: 5%;
    border: none;
    margin-bottom: 0.2%px;
}
section textarea{
    border: none;
    border-radius: 5px;
    height: 60px;
    margin-bottom: 30px;

    
}


/* footer 
 */

 .logo-footer{
    color: #4E47FF;
    font-weight: 800;
    font-size: 70px;
 }
 .footer-div{
    text-align: center;
    margin: 100px 150px;
    /* background-color: #4E47FF; */

    /* max-width: 700px; */
    width: 600px;
    align-items: center;
 }
 .footer-text{
    text-align: center;

 }
 .footer-list{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
 }